@font-face{
    font-family: 'Rubik';
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Rubik-Regular.ttf') format('truetype');
}

/*@font-face{
    font-family: 'Rubik';
    font-weight: 600;
    font-display: swap;
    src: url('../fonts/Rubik-Medium.ttf') format('truetype');
}*/

@font-face{
    font-family: 'Rubik';
    font-weight: bold;
    font-display: swap;
    src: url('../fonts/Rubik-Bold.ttf') format('truetype');
}